<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
   
    <bindings>
      <basicHttpBinding>
        <binding name="pricingSoap11Binding" />
        <binding name="pricingSoap11Binding1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="pricingSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.76.124.136:8280/services/pricing.pricingHttpSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="pricingSoap11Binding"
        contract="PICs.pricingPortType" name="pricingHttpSoap11Endpoint" />
      <endpoint address="https://10.76.124.136:8243/services/pricing.pricingHttpsSoap11Endpoint"
        binding="basicHttpBinding" bindingConfiguration="pricingSoap11Binding1"
        contract="PICs.pricingPortType" name="pricingHttpsSoap11Endpoint" />
      <endpoint address="https://10.76.124.136:8243/services/pricing.pricingHttpsSoap12Endpoint"
        binding="customBinding" bindingConfiguration="pricingSoap12Binding"
        contract="PICs.pricingPortType" name="pricingHttpsSoap12Endpoint" />
      <endpoint address="http://10.76.124.136:8280/services/pricing.pricingHttpSoap12Endpoint"
        binding="customBinding" bindingConfiguration="pricingSoap12Binding"
        contract="PICs.pricingPortType" name="pricingHttpSoap12Endpoint" />
    </client>
  </system.serviceModel>
</configuration>