<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="BAPTEntities" connectionString="metadata=res://*/BAPTModel.csdl|res://*/BAPTModel.ssdl|res://*/BAPTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql-xooe-ite.apps.inthosts.net;initial catalog=BAPT;persist security info=True;user id=bapt;password=bapt;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".cshtml" type="ServiceStack.Razor.CSharpRazorBuildProvider, ServiceStack.Razor" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <urlCompression doStaticCompression="true" doDynamicCompression="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
  
  <appSettings>
    <add key="webPages:Enabled" value="false" />
    <add key="CreateQuoteURL" value="http://54.197.243.180/api.php/quote_request"/>
    <add key="GetQuoteURL" value="http://54.197.243.180/api.php/quoted_broadband_pricing?filter[]=APIKey,eq,13QfckyVbac4-5OZd8chG%2B%3DACv2iy*-Z_%3DwdAo9TC37RYV90K%3D~xt61j12fZ&amp;filter[]=Quote_Id,eq,##quoteid"/>

    <add key="apiKey" value="13QfckyVbac4-5OZd8chG+=ACv2iy*-Z_=wdAo9TC37RYV90K=~xt61j12fZ"/>
  

  </appSettings>
  <system.web.webPages.razor>
    <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc" />
    <pages pageBaseType="ServiceStack.Razor.ViewPage">
      <namespaces>
        <add namespace="System" />
        <add namespace="ServiceStack" />
        <add namespace="ServiceStack.Html" />
        <add namespace="ServiceStack.Razor" />
        <add namespace="ServiceStack.Text" />
        <add namespace="ServiceStack.OrmLite" />
        <add namespace="BAPT" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PricingServiceSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://wso2ite.dal.dc.xo.com/services/pricing"
        binding="basicHttpBinding" bindingConfiguration="PricingServiceSoapBinding"
        contract="PICs.pricingPortType" name="PricingServicePort" />
    </client>
  </system.serviceModel>-->
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="pricingSoap11Binding" />
        <binding name="pricingSoap11Binding1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="pricingSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>



      <endpoint address="http://plaesbdev08:8280/services/pricing"
       binding="basicHttpBinding" bindingConfiguration="pricingSoap11Binding"
       contract="PICs.pricingPortType" name="pricingHttpSoap11Endpoint"
       
        />
     
    </client>
  </system.serviceModel>
 
  <!--The below section need to be uncomment when deploy to the external site to use the proxy server to reach entelegent api-->
  <!--<system.net>
    <defaultProxy>
      <proxy
        usesystemdefault="true"
        proxyaddress="http://207.88.98.32:7001"
        bypassonlocal="true"
      />
      <bypasslist>
             <add address="http://wso2ite" />
      </bypasslist>
    </defaultProxy>
  </system.net>-->
  <!--production external proxy
   <system.net>
    <defaultProxy>
      <proxy
        usesystemdefault="true"
        proxyaddress="http://205.158.160.89:7001"
        bypassonlocal="true"
      />
      <bypasslist>

      </bypasslist>
    </defaultProxy>
  </system.net>-->
</configuration>